@page
@model diplom.Pages.merch.IndexModel
@using diplom.Models;
@using diplom.Data;
@{
    ViewData["Title"] = "Список товаров";
    
}

<h1>Товары</h1>
<p>
    @if (User.IsInRole("admin"))
    {

        <a asp-area="" asp-page="/Create" class="btn btn-outline-primary">Добавить товар</a>
    }
</p>
<tbody>
        <div class="row">       
@foreach (var item in Model.Material) {

            <div class="col-sm-4">
                <div class="card" style="height:700px;">
                    <img class="img-fluid" src="/pics/@item.Id.ToString()_.png" class="card-img-top" alt="404.png">
                    <div class="card-body" >
                        <h5 class="card-title" style="height:75px;">@item.Name</h5>
                        <p class="card-text" style="height:90px;">@item.Discription</p>
                        <p class="card-text">@item.Price.ToString() руб.</p>
                        <form method="post">

                            <input asp-for="Basket.Id_material" value="@item.Id" type="hidden" />
                            <input asp-for="Basket.Id_user" value="@Model.user?.Email" type="hidden" />
                            <input type="submit" value="В корзину" class="btn btn-primary" />

                        </form>
                        @if (User.IsInRole("admin")){
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                           
                        }
                       
                    
                    </div>

                       
                       
                </div>
            </div>
       
}
       </div>
      
        
</tbody>
